@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.9); }
    to { opacity: 1; transform: scale(1); }
}

@layer theme, base, ionic, components, utilities;

@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import '@ionic/react/css/core.css' layer(ionic);
@import '@ionic/react/css/normalize.css' layer(ionic);
@import '@ionic/react/css/structure.css' layer(ionic);
@import '@ionic/react/css/typography.css' layer(ionic);
@import 'tailwindcss/utilities.css' layer(utilities) important;

@font-face {
    font-family: 'Mistral';
    src: url('/fonts/mistral.TTF') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'WorkSans';
    src: url('/fonts/worksans.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    --font-work-sans: 'WorkSans', Arial, Helvetica, sans-serif;
}

* {
    font-family: var(--font-work-sans);
}